.container{
    width: 30%;
    margin: 10px;
    
   
}
.container img {
    width: 100%;
    object-fit: contain;
}
.btn{
    display: block;
    width: 30%; 
    height: 40px;
    padding: 10px;
    background-color: rgb(236 173 4);
    color: white;
    font-weight: 700px;
    cursor: pointer;
    border: none;
    margin: 10px auto;
}
 @media (max-width:550px){
     .container{
         width: 40%;
        
     }
     .btn{
         width: 60%;
     }
 }
 @media(min-width:550px) and (max-width:780px){
     .container{
         width: 28%;
     }
 }
 